<div class="square">
    <form action="{$gvar.l_global}listarjugador.php?option=consultar" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
            <tr>
                <td>
                    <b>Ingrese el codigo del Equipo:</b> <input type="number" name="codigo" /><br />
                    <input class="btn btn-primary" type="submit" value="Buscar" />
                </td>
            </tr>
        </table>
    </form>
</div>

        
<table border="0" width="100%" cellpadding="0" cellspacing="10">
    <tr>
        <td>
            <h4>Jugadores del Equipo {$codeq}</h4>
        </td>
    </tr>
    {section loop=$jugadores name=i}
    <tr>
        <td>
            <b>Cedula : </b> {$jugadores[i]->get('cedula')}<br />
            <b>Nombre : </b> {$jugadores[i]->get('nombre')}<br />
            <b>Posición : </b> {$jugadores[i]->get('posicion')}<br /><br />
        </td></tr>
    {/section}
</table>
