<div class="square">
    <form action="{$gvar.l_global}registrarjugador.php?option=add" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
            <tr>
                <td>
                    <h4>Registrar un Jugador</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Ingrese la cedula:</b> <input type="number" name="cedula" /><br />
                    <b>Ingrese el nombre:</b> <input type="text" name="nombre" /><br />
                    <b>Ingrese la posicion:</b> <input type="text" name="posicion" /><br />
                    <b>Ingrese el codigo del equipo:</b> <input type="number" name="equipo" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="Registrar" />
                </td>
            </tr>            
        </table>
    </form>
</div>