<table border="0" width="100%" cellpadding="0" cellspacing="10">
    <tr>
        <td>
            <h4>Opciones</h4>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li><a href="{$gvar.l_global}registrarjugador.php">Registrar Jugardor</a></li>
                <li><a href="{$gvar.l_global}listarjugador.php">Listar Jugador</a></li>
            </ul>
        </td>
    </tr>
</table>